./Backend/HELP.md
./Backend/target/
!./Backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

./Frontend/.vscode/
./Frontend/node_modules/
./Frontend/build/
./Frontend/.DS_Store
./Frontend/*.tgz
./Frontend/template/src/__tests__/__snapshots__/
./Frontend/lerna-debug.log
./Frontend/npm-debug.log*
./Frontend/yarn-debug.log*
./Frontendyarn-error.log*
./Frontend/.changelog
./Frontend/.npm/

