.fitapp-login {
  min-height: 100vh;
  background: #0e1361;
  padding-top: 100px;

  .login-form-container {
    max-width: 500px;
    padding: 50px 60px;
    background: #d8e4ed;
    display: flex;
    flex-direction: column;

    .login-logo {
      margin: 0 auto 30px;
    }

    .login-form-group {
      margin-bottom: 20px;
    }

    .login-btn-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .btn.btn-primary {
        margin-top: 20px;
        margin-bottom: 15px;
        width: 100%;
      }

      .btn.login-links {
        padding: 0px;
        background: none;
        border: none;
        margin-bottom: 10px;
      }
    }
  }
}
